input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
  }

  input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
  }

:root {
    --overlay: rgba(0, 0, 0, 0.35);
    --box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.15);
    --green: #528119;
  }
   
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
   
  a {
    color: inherit;
  }
   
  a:hover {
    color: currentColor;
    text-decoration: none;
  }
   
  .cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
   
  .overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--overlay);
  }
   
  .btn-outline-success {
    color: var(--green);
  }
   
  .btn-outline-success:hover,
  .btn-outline-success:not(:disabled):not(.disabled):active {
    background: var(--green);
  }
   
  .btn-outline-success,
  .btn-outline-success:hover,
  .btn-outline-success:not(:disabled):not(.disabled):active {
    border-color: var(--green);
  }
  
  .hero-section {
    height: 100vh;
  }
   
  .hero-section video {
    width: 100%;
    height: 100%;
    object-fit: cover;
   }
   
  .hero-section svg {
    bottom: 0;
    left: 0;
    height: 30vh;
  }
  
  .cover-section .cover {
    background-attachment: fixed;
  }
   
  .cover-section .caption {
    bottom: 30px;
    left: 15px;
    z-index: 1;
  }
   
  .cover-section svg {
    bottom: 0;
    left: 0;
    height: 30vh;
  }
   
  @media screen and (min-width: 768px) { 
    .cover-section .caption {
      bottom: 50px;
    }
     
    .cover-section svg {
      height: 50vh;
    }
  }